
body {
    font-family: 'Georgia', monospace;
	background-color: #EEEEEE;
	padding:0;
    margin:0;
}

a {
	text-decoration: none;
}

header {
	text-align: center;
	background-color: #333;
	overflow: hidden;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 42px;
}

a header {
	color: white;
	font-weight: bold;
}

.loginPage a {
	color: black;
	text-decoration: none;
	font-size: 40px;
	display:inline-block;
	text-align: center;
    width:90%;
    height:100px;
	position: relative;
    background-color:#ccc;
    border:3px solid #000000;
}
.loginPage a p {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.emailPage a {
	color: black;
	text-decoration: none;
	display:inline-block;
    width:90%;
    height:60px;
	position: relative;
    background-color:#ccc;
    border:3px solid #000000;
}
.emailPage a table{
	text-align: left;
}
th.title {
	font-size: 20px;
}
th.body {
	font-size: 10px;
}
